<!DOCTYPE html>
<html ng-app="WordcountApp">
  <head>
    <title>Elektron - Open Electric Measurement</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  </head>
    <body ng-controller="WordcountController" class="nav-md">
    <div class="container body">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <h1> Elektron - Open Electric Measurement v0.1</h1>
          <br>
          <ul id="data">
            {% for item in data %}
            <li>{{ item }}</li>
            {% endfor %}
          </ul>
          <div class="col-sm-5 col-sm-offset-1">
            <button  id="off" type="submit" value="off"> Off </button>
            <button  id="on" type="submit" value="on"> On </button>
          </div>
          <div id=container class="chart" style="height: 300px; width: 800px"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <br>
          <div id=gauge class="chart" style="height: 300px; width: 800px"></div>
        </div>
      </div>
      <br>
    </div>

    <br><br>
    <!-- scripts -->
    <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="{{ url_for('static', filename='chart.js') }}"></script>
    <script>

  $(document).ready(function(){

        $('#on').on('click', function() {
            var state = "on";
            $.ajax({
                url: '/on',
                data: state,
                type: 'POST',
                success: function(response) {
                    console.log(response);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });


        $('#off').on('click', function() {
            var state = "off";
            $.ajax({
                url: '/off',
                data: state,
                type: 'POST',
                success: function(response) {
                    console.log(response);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });


      });




    </script>
  </body>
</html>
